body {
  background: #000;
  color: #fff;
}

main, section, header, label, input, button {
  color: #fff;
}

section {
  background: #111 !important;
  border-color: #fff !important;
}

input[type="number"] {
  background: #222;
  border: 1px solid #fff;
  color: #fff;
}

button {
  background: #fff !important;
  color: #000 !important;
  border: none;
}

h1 {
  color: #fff !important;
}

label {
  color: #fff !important;
}
